# Default owner
config/brakeman.ignore  @IDme/product-security
.truffleignore          @IDme/product-security
.trivyignore            @IDme/product-security
*                       @IDme/engineering-leads @IDme/sales-engineering
