# Default owner
config/brakeman.ignore  @IDme/application-security
.truffleignore          @IDme/application-security
.trivyignore            @IDme/application-security
*                       @IDme/engineering-leads @IDme/sales-consulting
